/***************************************************\
| Devin's CSS style ::                              |
| created 8/17/2018                                 |
 `**************************************************/

body {
    align-content: center
    background-color: e5e5e5;
    font-family: verdana;
    font-size: 100%;
}

h1 {
    text-align: center;
    background-color: rgb(90, 92, 90);
    color: blue;
    font-family: verdana;
    font-size: 300%;
    border: 3px solid rgb(36, 82, 36);
    padding: 30px
}

p {
    text-align: left;
    color: red;
    font-family: verdana;
    font-size: 130%;
    border: 3px solid rgb(36, 82, 36);
    padding: 30px blue;
}

input {
    width: 150px;
    height: 20px;
}